<div class="chat-list">
    <!-- Header for Chat List -->
    <div class="chat-list-header">
        <h2>Chats</h2>
        <button class="new-message-btn" (click)="openNewChat()">+ New Chat</button>
    </div>

    <!-- Display list of users for chat -->
    <div *ngFor="let chat of ActiveChats" class="chat-item" (click)="openChat(chat[0])">
        <div class="avatar">
            <img src="https://img.freepik.com/free-vector/young-prince-vector-illustration_1308-174367.jpg"
                alt="User Avatar">
        </div>
        <div class="chat-info">
            <p class="user-name">{{ chat[0] }}</p>
            <p class="last-message">{{ chat[1] }}</p>
        </div>
    </div>
</div>

<!-- New Chat Modal -->
<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Select a User to Chat</h2>
            <button (click)="closeModal()">X</button>
        </div>
        <div class="modal-body">
            <input type="text" [(ngModel)]="searchText" placeholder="Search for a user..." class="search-bar">
            <div *ngFor="let username of filteredUsers()" class="user-item" (click)="openChat(username)">
                <p>{{ username }}</p>
            </div>
        </div>
    </div>
</div>