<div class="home-container">
    <div class="welcome-text">
        <h1>Welcome to Chat Zone</h1>
        <div class="slogan">
            <p>This is your space to Chat, Share and Connect.</p>
        </div>
    </div>

    

    <div class="buttons-container">
        <button class="login-btn" (click)="onLoginClick()">Login</button>
        <button class="signup-btn" (click)="onSignupClick()">Sign Up</button>
        <button class="guest-btn" (click)="onGuestLoginClick()">Continue as Guest</button>
    </div>
</div>
