<div class="chat-screen">
    <div class="header">
        <button class="back-button" (click)="goBack()">&#8592;</button>
        <div class="header-info">
            <img src="https://img.freepik.com/free-vector/young-prince-vector-illustration_1308-174367.jpg"
                alt="Profile Picture" class="header-avatar" />
            <p class="header-username">{{ other_username }}</p>
        </div>
    </div>

    <div class="message-container" #messageContainer>
        <div *ngFor="let message of messages"
            [ngClass]="{ 'sent': message[1] === curr_user_id, 'received': message[1] !== curr_user_id }"
            class="message">
            {{ message[0] }}
        </div>
    </div>

    <div class="input-container">
        <input [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" placeholder="Type a message..."
            aria-label="Type a message" />
        <button (click)="sendMessage()">&#9658;</button>
    </div>
</div>